* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  #banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .logo {
    width: 80px;
    position: absolute;
    top: 2%;
    left: 3%;
  }
  
  .banner-text {
    text-align: center;
    color: #fff;
    padding-top: 300px;
  
    h1 {
      font-size: 130px;
      font-family: 'Kaushan Script', cursive;
    }
  }
  
  #sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
  
    nav {
      ul {
        list-style: none;
        margin: 50px 20px;
  
        li {
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
  
  #menuBtn {
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
  
    img {
      width: 20px;
      margin-top: 15px;
    }
  }
  
  @media screen and (max-width: 770px) {
    .banner-text h1 {
      font-size: 44px;
    }
  
    .banner-btn a {
      display: block;
      margin: 20px auto;
    }
  }
  
  /* --book-- */
  
  #book {
    width: 100%;
    padding: 70px 0;
  
    .title-text {
      text-align: center;
      padding-bottom: 70px;
  
      p {
        margin: auto;
        font-size: 20px;
        color: #009688;
        font-weight: bold;
        position: relative;
        z-index: 1;
        display: inline-block;
      }
  
      h1 {
        font-size: 50px;
      }
    }
  
    .book-box {
      width: 80%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
  
      .books {
        flex-basis: 50%;
      }
  
      .books-img {
        flex-basis: 50%;
        margin: auto;
  
        img {
          width: 70%;
          border-radius: 10px;
        }
      }
  
      .books {
        h1 {
          text-align: left;
          margin-bottom: 10px;
          font-weight: 100;
          color: #009688;
        }
      }
  
      .books-desk {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
      }
  
      .book-text {
        p {
          text-align: initial;
        }
      }
    }
  
    @media screen and (max-width: 770px) {
      .title-text h1 {
        font-size: 35px;
      }
  
      .books {
        flex-basis: 100%;
      }
  
      .books-img {
        flex-basis: 100%;
  
        img {
          width: 100%;
        }
      }
    }
  }
  
  /* --service перші 3 рядки це сірий фон на плані-- */
  
  #service {
    width: 100%;
    padding: 70px 0;
    background: #C2C2C2;
  
    .service-box {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: auto;
  
      .single-service {
        flex-basis: 48%;
        text-align: center;
        border-radius: 7px;
        margin-bottom: 20px;
        color: #fff;
        position: relative;
  
        img {
          width: 100%;
          border-radius: 7px;
        }
  
        .overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          border-radius: 7px;
          cursor: pointer;
          background: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
          opacity: 0;
          transition: 1s;
        }
  
        &:hover .overlay {
          opacity: 1;
        }
  
        .service-desc {
          width: 80%;
          position: absolute;
          bottom: 0;
          left: 50%;
          opacity: 0;
          transform: translateX(-50%);
          transition: 1s;
  
          hr {
            background: #fff;
            height: 2px;
            border: 0;
            margin: 15px auto;
            width: 60%;
          }
  
          p {
            font-size: 14px;
          }
        }
  
        &:hover .service-desc {
          bottom: 40%;
          opacity: 1;
        }
      }
    }
  
    @media screen and (max-width: 770px) {
      .single-service {
        flex-basis: 100%;
        margin-bottom: 30px;
  
        .service-desc p {
          font-size: 12px;
        }
  
        hr {
          margin: 5px auto;
        }
  
        &:hover .service-desc {
          bottom: 25% !important;
        }
      }
    }
  }
  
  /* ---testimonial---- */
  
  /* --footer-- */
  
  #footer {
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
  
    .footer-row {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  
      .footer-left,
      .footer-right {
        flex-basis: 45%;
        padding: 10px;
        margin-bottom: 20px;
  
        .fa {
          font-size: 20px;
          color: #009688;
          margin: 10px;
        }
      }
  
      .footer-right {
        text-align: right;
      }
  
      h1 {
        margin: 10px 0;
      }
  
      p {
        line-height: 35px;
      }
    }
  
    .footer-img {
      max-width: 370px;
      opacity: 0.1;
      position: absolute;
      left: 50%;
      top: 35%;
      transform: translate(-50%, -50%);
    }
  
    .social-links {
      text-align: center;
  
      .fa {
        height: 40px;
        width: 40px;
        font-size: 20px;
        line-height: 40px;
        border: 1px solid #009688;
        margin: 40px 5px 0;
        color: #009688;
        cursor: pointer;
        transition: .5s;
  
        &:hover {
          background: #009688;
          color: #fff;
          transform: translateY(-7px);
        }
      }
  
      p {
        font-size: 12px;
        margin-top: 20px;
      }
    }
  
    @media screen and (max-width: 600px) {
      .footer-left,
      .footer-right {
        flex-basis: 100%;
        font-size: 14px;
      }
  
      .footer-img {
        top: 25%;
      }
    }
  }
  
